# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Debug files
*.dSYM
*.pdb
*.idb

# Temporary files
*.tmp
*.temp
*.bak
*.swp
*.swo
*.swn
*.orig
*.log
*.tix
*.tix.bak
*.tix.tmp

# CMake files
CMakeCache.txt
CMakeFiles/
CMakeOutput.log
CMakeError.log

build/
